@import "/src/global";

#gallery {
  position: absolute;
  width: 130vmax;
  height: 130vmax;

  //background-image: url("images/abstract.jpeg");
  background-size: cover;
  transition: all ease-in-out;
}

#glcanvas {
  position: absolute;
  width: 100%;
  height: 100%
}

#logo {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  text-wrap: none;

  //background: rgba(0, 0, 0, 0.29);
  font-size: 4rem;
  font-style: italic;


  h1 {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}