@import "/src/global";

#navbar {
  position: fixed;
  z-index: 9999;
  display: flex;
  align-items: center;
  margin: 1rem;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;

  background: $background-2;
  border-radius: 10px;
  padding: 0.5rem 1rem 0.5rem 1rem;

  font-family: $default-font;

  // if screen width is less than 600px, then make the navbar
  // vertical instead of horizontal & pinned to the left of the screen
  @media (max-width: 600px) {
    flex-direction: column;
    left: 0%;
    height: 100%;
    max-width: 50px;
    transform: translateX(-1rem);
    font-size: 0.5em;

    #logo {
      margin: 0;
      margin-left: 0.5rem;
      font-size: 2em;

      h1 {
        display: none;
      }
    }
    
    .links {
      flex-direction: column;
      width: 100%;
      margin: 0;
      padding: 0;
      justify-content: flex-start;

      .link {
        margin: 0;
        padding: 0.5rem;
        text-align: left;
      }
    }
  }

  #logo {
    @include center-flex;
    margin-right: 0.5em;

    text-decoration: none;

    transition: 100ms ease-in-out;

    img {
      position: relative;
      width: 4em;
      display: inline;
      border-radius: 10px;
      transition: 100ms ease-in-out;
    }

    h1 {
      font-size: 2em;
      font-weight: 700;
      color: $primary;
      margin: 0 0 0 0.3em;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  .links {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .link {
      @include center-flex;
      text-decoration: underline;
      text-decoration-thickness: 0px;
      text-decoration-color: transparent;
      color: $primary;
      margin: 0.5em;
      font-size: 1.2em;
      text-align: center;

      transition: 150ms ease-in-out;

      &.active,
      &:hover {
        color: $accent-1;
        text-decoration-color: $accent-3;
        text-decoration-thickness: 4px;
      }
    }
  }
}
