@import "/src/global.scss";

.tag {
  .operator,
  .element {
    opacity: 40%;
    transition: all 300ms ease-in-out;
    filter: blur(1px);
  }
  .operator {
    color: $accent2;
  }

  .element {
    color: $accent3;
  }

  &:hover {
    .element,
    .operator {
      opacity: 100%;
      filter: none;
    }
  }
}
