@import "global";

body {
  color-scheme: dark;
  background: $background-1;
  color: $primary;
  overflow: hidden;
  font: $default-font;

  @include default-box;

  // center backround image
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./forest.jpg");
  width: 100%;
  height: 100%;
}
