@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$default-font: "JetBrains Mono", monospace;

$primary: #ffffffff;
$background-3: #38495e;
$background-2: #2b394b;
$background-1: #1b2432ff;

$accent-1: #926edc;
$accent-2: #f14f72;
$accent-3: #25bd9a;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin default-box {
  padding: 0;
  border: none;
  margin: 0;
}

@mixin expand {
  width: 100%;
  height: 100%;
}

body {
  background: $background-1;
}

#root {
  position: absolute;
  @include expand;
}

.page {
  @include expand;
  @include center-flex;
  flex-direction: column;
}
