@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$default-font: 'JetBrains Mono', monospace;

$primary: #ffffffff;
$background-4: #403f4cff;
$background-3: #2c2b3cff;
$background-2: #1b2432ff;
$background-1: #121420ff;

$accent1: #ccb9ff;
$accent2: #bacdff;
$accent3: #25bd9a;

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin default-box {
  padding: 0;
  border: none;
  margin: 0;
}

@mixin expand {
  width: 100%;
  height: 100%;
}
